.dartsGame {
  background-color: #333;
  height: 100%;
  display: flex;
  flex-direction: row;
}
/* radiobuttons,button start-game, trow-darts div*/
.spel {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* radiobuttons begin players*/
.players-options {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
/* radiobuttons begin score*/
.game-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}
.game-options label, .players-options label {
  color: yellow;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
}
.game-options h1, .players-options h1 {
  color: yellow;
  font-size: x-large;
  font-weight: bolder;
}
/* button start-game*/
.start-game {
  border: black solid 5px;
  padding: 5px;
  margin-top: 25px;
  color: yellow;
  box-shadow: black 3px 3px 3px;
  font-size: larger;
}
/* score velden dartspijlen */
.thrown-darts {
  width: 50%;
  font-size: 50px;
  font-weight: bolder;
}
.thrown-darts label {
  font-size: 20px;
}
.dart-throw {
  border: black solid 5px;
  color: yellow;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.darts-board {
  width: 89%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-top: 40px;
  padding-left: 120px;

}
.bord{
  margin: 0px 50px
}
/* scorebord speler(s) */
.gameLabel,
.score {
  color: yellow;
  font-size: 50px;
  font-weight: bolder;
  text-align: start;
  display: table-column;
  align-items: column;
}
.player-info {
  display: flex;
  align-items: center;
}
.dart-pijl {
  width: 100px;
  height: 100px; 
}






